.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.home {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.cards__todo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 2rem;
}

.card__todo {
  display: flex;
  flex-direction: column;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj7EMgt8G2fvWXPePuujfHF_frYge-S0u0zg&usqp=CAU');
  background-repeat: no-repeat;
  background-size: 100%;
  border: solid 2px wheat;
  border-radius: 1rem;
  text-align: center;
  overflow: auto;
}

.card__todo h5,
.card__todo p,
.card__todo span {
  color: rgb(2, 100, 2);
  text-shadow: 1px 1px 0 #ffe600;
}

.card__todo p {
  word-wrap: break-word;
}

.form {
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(73, 72, 72);
  border-radius: 1rem;
  width: 80%;
}

.form label {
  color: azure;
  margin: 0.5rem;
  font-family: sans-serif;
}

.description {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAFVBMVEX81GL2w1j5y1370mH3xVn5zF34yFsCMaGeAAABQElEQVR4nO3YN3IDQRAEwaMA//9kakKd2HWI6I5Me4wud5YFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/t3bpNOjB896eZrz+ujB0yYL8wInCwMD5woTA6cKIwNnCjMDJwpDA8cLUwOHC2MDRwtzAwcLgwPHCpMDhwqjA0cKswMHCsMDjwvTAw8L4wOPCvMDDwoLAvcLGwJ3CysC9wo7AncKSwK3C1sCNwtrArcKewI3CosC1wubAlcLqwLXCrsCVwrLAu8L2wLvCusCbwv7Am8KCwOvCxsDrworAy8LOwMvCksDz4WtgX+FtYG/hb2BP4XFgd+FzYFfhdWBn4XdgR+F5YHLMh/4nOY0eb/cfQXaKMynMJ/CfArzKcynMJ/CfArzKcynMJ/CfArzKcynMJ/CfArzKczXX/gOY48oRB0HY18AAAAASUVORK5CYII=');
  resize: none;
  color: #222;
}

.btn_submit,
.btn_delete,
.btn_update {
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.btn_submit {
  align-self: center;
  background-color: green;
  margin-top: 0.5rem;
  width: 15%;
}

.btn_update {
  background-color: #0070f3;
}

.btn_delete {
  background-color: red;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .main {
    min-height: 100vh;
    padding: 1rem;
  }

  .home {
    display: flex;
    flex-direction: column;
    width: 95%;
  }

  .cards__todo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card__todo {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
  }

  .form {
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .btn_submit {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .card__todo {
    width: 20rem;
    height: 10rem;
  }

  .radio__btn {
    display: flex;
    flex-direction: row;
    align-self: center;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
}
